name: live-cedar-sg-toni
root: /lab/paper/ts/lean

socket_name: live

# Specifies (by name or index) which window will be selected on project startup. If not set, the first window is used.
startup_window: "1"
# Specifies (by index) which pane of the specified window will be selected on project startup. If not set, the first pane is used.
startup_pane: 1

windows:
  - Live:
      layout: main-horizontal
      panes:
        - strat:
            - conda activate paper
            - current_time=$(TZ="Asia/Singapore" date +"%Y-%m-%d %H:%M:%S") && echo "Current Time - $current_time"
            - current_epoch=$(TZ="Asia/Singapore" date +%s) && target_epoch=$(TZ="Asia/Singapore" date -d "next Monday 10:00" +%s) && sleep_seconds=$(( $target_epoch - $current_epoch )) && (( sleep_seconds > 604800 )) && sleep_seconds=$(( sleep_seconds - 604800 )) && echo "IBKR live trading to be launched at 10 AM Monday (Asia/Singapore) ($sleep_seconds seconds from now..)"
            - echo '\t---------- CMD to launch live strategy ----------\n\n\tcd /lab/paper/ts/lean && lean live deploy live/equity.cedar-sg-toni.margin --brokerage "Interactive Brokers" --data-provider-live "Interactive Brokers" --data-provider-historical "Local" --lean-config "/lab/paper/ts/lean/lean.equity.cedar-sg-toni.margin.json" --image quantconnect/lean:latest'
            - sleep $sleep_seconds
            - cd /lab/paper/ts/lean && lean data download --dataset "US Equity Security Master"
            - export LATEST_FOLDER=$(find /lab/paper/ts/lean/live -maxdepth 1 -name "equity.cedar-sg-toni.margin*" -type d | sort -t '\0' -n | tail -n 1) && echo "Running live Equity SG CEDAR-IBKR account from location $LATEST_FOLDER"
            - cd $LATEST_FOLDER
            # - ac live start . --brokerage "Interactive Brokers" --data-provider-live "Interactive Brokers" --data-provider-historical "Local" --lean-config "/lab/paper/ts/lean/lean.json"
            # - cd /lab/paper/ts/lean && lean live deploy live/equity.cedar-sg-toni.margin --brokerage "Interactive Brokers" --data-provider-live "Interactive Brokers" --data-provider-historical "Local" --lean-config "/lab/paper/ts/lean/lean.json" --image {{ .infra.docker_registry }}/tradestation/lean_engine:latest
            - cd /lab/paper/ts/lean && lean live deploy live/equity.cedar-sg-toni.margin --brokerage "Interactive Brokers" --data-provider-live "Interactive Brokers" --data-provider-historical "Local" --lean-config "/lab/paper/ts/lean/lean.equity.cedar-sg-toni.margin.json" --image quantconnect/lean:latest

            # - echo 'Submit an order:'
            # - cd /lab/paper/ts/lean && lean live submit-order live/equity.cedar-sg-toni.margin --verbose --ticker XYZ --market USA --security-type Equity --quantity 1 --limit-price 55 --order-type limit --tag test_order

        - cron:
            - conda activate paper
            - cd /lab/lib/ts/cronlab
            - ipython
            - run cron.equity.cedar-sg-toni.margin.py
