# /home/peter/.config/tmuxinator/laptop.yml

name: cn
root: /lab/paper
startup_pane: 1

windows:
  - general:
      layout: even-horizontal
      panes:
        - terminal:
            - proxy-on
            - scp -r -P {{ .infra.vpn_port }} peter@{{ .infra.vpn_host }}:/home/peter/.lab $HOME
            - cd /lab/paper/dotfiles && git pull
            # - cd /lab/paper/finclab && git pull
            # - cd /lab/paper/datalab_utilities && git pull
            # - cd /lab/paper/ts && git pull
            # - cd /lab/paper/winclient && git pull
            - cd /lab/paper

  - python:
      layout: even-horizontal
      panes:
        - python:
            - proxy-on
            - cd /lab/paper

  - finclab:
      layout: even-horizontal
      panes:
        - workspace1:
            - proxy-on
            - cd /lab/paper
        - workspace2:
            - proxy-on
            - cd /lab/paper

  - dotfiles:
      layout: even-horizontal
      panes:
        - workspace1:
            - proxy-on
            - cd /lab/paper/dotfiles

  - win-path:
      layout: even-horizontal
      panes:
        - winclient:
            - proxy-on
            - cd /mnt/d/lab/paper/winclient
            - clear
        - dotfiles:
            - proxy-on
            - cd /mnt/d/lab/paper/dotfiles
            - clear
