# /home/peter/.config/tmuxinator/laptop.yml

name: laptop
root: ~/
startup_pane: 1

windows:
  - general:
      layout: even-horizontal
      panes:
        - terminal:
            - scp -r -P {{ .infra.vpn_port }} peter@{{ .infra.vpn_host }}:/home/peter/.lab $HOME
            - cd ~/.files && git pull
            # - cd /lab/paper/finclab && git pull
            # - cd /lab/paper/datalab_utilities && git pull
            # - cd /lab/paper/ts && git pull
            # - cd /lab/paper/winclient && git pull
            - cd /lab/paper
            - curl "wttr.in/singapore?m&lang=zh-cn"

  - python:
      layout: even-horizontal
      panes:
        - python:
            - cd /lab/paper
        - terminal:
            - cd /lab/paper

  - finclab:
      layout: even-horizontal
      panes:
        - workspace1:
            - cd /lab/paper
        - workspace2:
            - cd /lab/paper

  - dotfiles:
      layout: even-horizontal
      panes:
        - workspace1:
            - cd ~/.files

  - win-path:
      layout: even-horizontal
      panes:
        - winclient:
            - cd /mnt/d/lab/paper/winclient
            - clear
        - dotfiles:
            - cd /mnt/d/.files
            - clear
