name: live-peter-cn-gj
root: /lab/paper/ts/lean

socket_name: live

# Specifies (by name or index) which window will be selected on project startup. If not set, the first window is used.
startup_window: "1"
# Specifies (by index) which pane of the specified window will be selected on project startup. If not set, the first pane is used.
startup_pane: 1

windows:
  - Live:
      layout: main-horizontal
      panes:
        - strat:
            - conda activate paper
            - current_time=$(TZ="Asia/Singapore" date +"%Y-%m-%d %H:%M:%S") && echo "Current Time - $current_time"
            # - echo '\t---------- CMD to launch live strategy ----------\n\n\tcd /lab/paper/ts/lean/live/equity.peter-cn-gj.margin && ac live start . --lean-config /lab/paper/ts/lean/lean.equity.peter-cn-gj.margin.json --brokerage Zerodha --data-provider-live Zerodha --data-provider-historical Local --image {{ .infra.docker_registry }}/tradestation/lean_engine:latest --parameter "lean|acapgateway-api-url:http://{{ .infra.internal_ip }}:{{ .infra.internal_port }}" --parameter "lean|acapgateway-stream-url:ws://{{ .infra.internal_ip }}:{{ .infra.internal_port }}/private"'
            - echo '\t---------- CMD to launch live strategy ----------\n\n\t/lab/paper/ts/lean/bin/cn_strat_start equity.peter-cn-gj.margin Asia/Singapore'

            - current_epoch=$(TZ="Asia/Singapore" date +%s) && target_epoch=$(TZ="Asia/Singapore" date -d "Tomorrow 6:00" +%s) && sleep_seconds=$(( $target_epoch - $current_epoch )) && echo "GJ QMT live trading to be launched at 6 AM Tomorrow ($sleep_seconds seconds from now..)"
            - sleep $sleep_seconds
            # - export LATEST_FOLDER=$(find /lab/paper/ts/lean/live -maxdepth 1 -name "equity.peter-cn-gj.margin*" -type d | sort -t '\0' -n | tail -n 1) && echo "Running live 'peter-cn-gj' account from location '$LATEST_FOLDER'"
            # - cd /lab/paper/ts/lean/live/equity.peter-cn-gj.margin && ac live start . --brokerage Zerodha --data-provider-live Zerodha --data-provider-historical Local --image {{ .infra.docker_registry }}/tradestation/lean_engine:latest --parameter "lean|acapgateway-api-url:http://{{ .infra.internal_ip }}:{{ .infra.internal_port }}" --parameter "lean|acapgateway-stream-url:ws://{{ .infra.internal_ip }}:{{ .infra.internal_port }}/private"
            # - /lab/paper/ts/lean/bin/cn_strat_start equity.peter-cn-gj.margin Asia/Singapore http://{{ .infra.internal_ip }}:{{ .infra.internal_port }} ws://{{ .infra.internal_ip }}:{{ .infra.internal_port }}/private
            - /lab/paper/ts/lean/bin/cn_strat_start equity.peter-cn-gj.margin Asia/Singapore

        - cron:
            # cd /lab/paper/ts/lean && ac fetch-data && python /lab/lib/ts/universe/cn_custom/main.py && ac backtest live/equity.peter-cn-gj.margin --parameter "live_companion_mode:true"
            - cd /lab/lib/ts/cronlab
            - ipython
            - run cron.equity.peter-cn-gj.margin.py
