# /home/peter/.config/tmuxinator/work.yml

name: work
root: ~/
startup_pane: 1

windows:
  - general:
      layout: even-horizontal
      panes:
        - terminal:
            - if [ "$SHELL" = "/bin/sh" ]; then zsh; fi;
            - cd $HOME/lab/paper/finclab && git pull
            - cd $HOME/lab/paper/finclab && git pull
            - cd $HOME/lab/paper/datalab && git pull
            - cd $HOME/lab/paper/ts && git pull
            - cd $HOME/lab/paper/winclient && git pull
            - cd $HOME/lab/paper/tradestation && git pull
            - cd $HOME/lab/paper/lab && git pull
            - cd /lab/lib
            # - /usr/bin/inxi
            - curl "wttr.in/newyork?m&lang=zh-cn"

  - python:
      layout: even-horizontal
      panes:
        - python:
            - if [ "$SHELL" = "/bin/sh" ]; then zsh; fi;
            - sudo apt install neovim --upgrade
            - nvim --headless -c 'autocmd User PackerComplete quitall' -c 'AstroUpdate' -c 'PackerClean' -c 'PackerSync' -c 'PackerCompile'
            - cd /lab/lib
        - terminal:
            - if [ "$SHELL" = "/bin/sh" ]; then zsh; fi;
            - cd /lab/lib

  - finclab:
      layout: even-horizontal
      panes:
        - workspace1:
            - if [ "$SHELL" = "/bin/sh" ]; then zsh; fi;
            - cd $HOME/lab/paper/finclab
        - workspace2:
            - if [ "$SHELL" = "/bin/sh" ]; then zsh; fi;
            - cd $HOME/lab/paper/finclab

  - datalab:
      layout: even-horizontal
      panes:
        - workspace1:
            - if [ "$SHELL" = "/bin/sh" ]; then zsh; fi;
            - cd $HOME/lab/paper/datalab
        - workspace2:
            - if [ "$SHELL" = "/bin/sh" ]; then zsh; fi;
            - cd $HOME/lab/paper/datalab

  - tradestation:
      layout: even-horizontal
      panes:
        - workspace1:
            - if [ "$SHELL" = "/bin/sh" ]; then zsh; fi;
            - cd $HOME/lab/paper/tradestation
          # - ssh_ts
          # - conda activate base
          # - conda deactivate && conda activate finclab
          # - cd $HOME/ts
        - workspace2:
            - if [ "$SHELL" = "/bin/sh" ]; then zsh; fi;
            - cd $HOME/lab/paper/tradestation
          # - ssh_ts
          # - conda activate base
          # - cd $HOME/ts

  - atronvim:
      layout: even-horizontal
      panes:
        - workspace1:
            - if [ "$SHELL" = "/bin/sh" ]; then zsh; fi;
            - cd /lab/paper/astronvim
        - workspace2:
            - if [ "$SHELL" = "/bin/sh" ]; then zsh; fi;

  - flightlog:
      layout: even-horizontal
      panes:
        - pane1:
            - if [ "$SHELL" = "/bin/sh" ]; then zsh; fi;
            - cd $HOME/lab/paper
        - pane2:
            - if [ "$SHELL" = "/bin/sh" ]; then zsh; fi;
            - cd $HOME/lab/paper
            - ts flightlog stream -d

  - server-monitor:
      layout: tiled
      panes:
        - glances:
            - if [ "$SHELL" = "/bin/sh" ]; then zsh; fi;
            - cd
          #- glances

          # - docker-monitor:
          #     layout: tiled
          #     panes:
          #       - lazydocker:
          #         - docker run --rm -it -v /var/run/docker.sock:/var/run/docker.sock -v /home/peter/.config/lazydocker:/.config/jesseduffield/lazydocker lazyteam/lazydocker
          #       - cpu_temperature:
          #         - watch -n 10 -d sensors

  - background-apps:
      layout: tiled
      panes:
        - jupyter-notebook:
            - if [ "$SHELL" = "/bin/sh" ]; then zsh; fi;
            - conda deactivate && conda activate paper
            - export JUPYTER_ASCENDING_EXECUTE_PORT=60000
            - export JUPYTER_PORT=60000
            - export JUPYTER_PORT_RETRIES=0
            - jupyter notebook --port=$JUPYTER_PORT --no-browser --NotebookApp.token="" --notebook-dir=$HOME
        - neovim-headless:
            - if [ "$SHELL" = "/bin/sh" ]; then zsh; fi;
            - nvim /lab/paper/astronvim/polish.lua --headless --listen {{ .infra.internal_ip }}:{{ .infra.internal_port }}
        #- make -C /lab/prod/labenv start
# Optional tmux socket
# socket_name: foo

# Note that the pre and post options have been deprecated and will be replaced by
# project hooks.

# Project hooks
# Runs on project start, always
# on_project_start: command
# Run on project start, the first time
# on_project_first_start: command
# Run on project start, after the first time
# on_project_restart: command
# Run on project exit ( detaching from tmux session )
# on_project_exit: command
# Run on project stop
# on_project_stop: command

# Runs in each window and pane before window/pane specific commands. Useful for setting up interpreter versions.
# pre_window: rbenv shell 2.0.0-p247

# Pass command line options to tmux. Useful for specifying a different tmux.conf.
# tmux_options: -f ~/.tmux.mac.conf

# Change the command to call tmux.  This can be used by derivatives/wrappers like byobu.
# tmux_command: byobu

# Specifies (by name or index) which window will be selected on project startup. If not set, the first window is used.
# startup_window: editor

# Specifies (by index) which pane of the specified window will be selected on project startup. If not set, the first pane is used.
# startup_pane: 1

# Controls whether the tmux session should be attached to automatically. Defaults to true.
# attach: false
